<extend name="Public:base" />
<block name="header">
	<link rel="stylesheet" href="__PUBLIC__/style/login.css" type="text/css">
	<js href="__PUBLIC__/js/jquery-1.8.3.min.js" />
	<js href="__PUBLIC__/validate/dist/jquery.validate.js" />
	<style>
		.ArticleBox{width: 1200px; margin: 0 auto;}

		h1{font-size: 20px; font-weight: bold; text-align: center;}
	</style>
</block>
<block name="content">
	<div style="clear:both;"></div>

	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl"><a href="index.html"><img src="__PUBLIC__/images/logo.png" alt="京西商城"></a></h2>
		</div>
	</div>
	<!-- 页面头部 end -->

	<!-- 登录主体部分start -->
	<div class="ArticleBox">
		<h1>{$article.title}</h1>
		<p style="text-align: center;">发布时间：{:date('Y-m-d H:i', $article['create_time'])} 点击量：{$article.hits}</p>
		<div class="articleContent">
			{:htmlspecialchars_decode($article['content'])}
		</div>
	</div>
	<!-- 登录主体部分end -->

	<div style="clear:both;"></div>
</block>